/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Landing page                                        */
/*   Andre Specht                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  width: 100%;
  background-color: rgba(255, 255, 255, .05);
  overflow: hidden;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Title                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#title {
  float: left;
  display: flex;
  align-items: center;
  width: 12rem;
  height: 5.6rem;
}

#title h1 {
  position: relative;
  right: .1rem;
}

#title h1 a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #5ba7f4;
  text-decoration: none;
}

#title h1 a:hover {
  color: #5ba7f4;
}

#title h1 a i {
  font-size: 1.4rem;
  color: #5ba7f4;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Nav                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

nav {
  float: left;
  width: calc(100% - 24rem);
  height: 5.6rem;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  line-height: 5.6rem;
}

nav ul li a {
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}

nav ul li a:hover, #signout p a:hover {
  color: #5ba7f4;
}

nav ul li a.highlight {
  padding-bottom: 1.5rem;
  -webkit-padding-after: 1.55rem;
  border-bottom: .3rem solid #2489f1;
}

nav ul li + li {
  margin-left: .8rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Profile                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#profile {
  float: left;
  text-align: right;
  width: 12rem;
  height: 5.6rem;
  text-align: right;
}

#profile img {
  margin-top: 1.25rem;
  padding: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 5rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Search bar                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#search {
  display: none;
  float: left;
  width: 26rem;
  height: 5.6rem;
}

#search-form {
  margin-top: .7rem;
  text-align: center;
}

#search-form input[type="search"] {
  width: 100%;
  height: 3.6rem;
  padding: 0 2.2rem .1rem 2.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #354045;
  background-color: #eef1f4;
  border: 0;
  border-radius: 10rem;
  cursor: text;
}

#search-form #search-button {
  display: none;
  background: transparent;
}

#search-form ::-webkit-input-placeholder {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  color: #859095;
  opacity: 1;
}

#search-form ::-moz-placeholder, :-moz-placeholder {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  color: #859095;
  opacity: 1;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  width: 100%;
  height: 6.8rem;
  text-align: center;
  overflow: hidden;
}

footer a i {
  margin-top: 1.5rem;
  font-size: 1.7rem;
  color: #499df3;
}

footer a i:hover {
  color: #3793f2;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Logo                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  background: transparent url(/../img/favicon.png) no-repeat center center;
  background-size: cover;
  transform: translate(-50%, -50%);
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 899px) {
  #wrapper { display: none; }
  #logo { display: block; }
}

@media screen and (min-width: 900px) {
  #wrapper { display: block; }
  #logo { display: none; }
}
