/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Landing page                                        */
/*   Andre Specht                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Landing page                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#landing-page {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-size: 100%;
  background-attachment: scroll;
  background-image: linear-gradient(150deg, rgb(63 29 153 / .96) 0%, rgb(115 47 202 / .96) 100%), url('../img/blocks.gif?v=2');
  background-position: 0% 0%, center;
  background-repeat: repeat, repeat;
  background-size: cover, 50rem;
  background-color: #fff;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  width: 100%;
  height: 6.5rem;
  text-align: right;
  overflow: hidden;
}

header button {
  margin-top: 1.7rem;
  padding: 1.1rem 2.4rem 1rem 2.4rem;
  background-color: rgba(255, 255, 255, .15);
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  text-shadow: .01rem .01rem #000;
  border: .1rem solid rgba(255, 255, 255, .05);
  border-radius: 5rem;
  letter-spacing: 0;
  cursor: pointer;
}

header button:hover {
  border: .1rem solid rgba(255, 255, 255, .25);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Banners                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#banner {
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - 13rem);
  height: calc(var(--vh, 1vh) * 100 - 13rem);
  text-align: left;
}

section {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-54%);
  opacity: 0;
  visibility: hidden;
}

section.isvisible {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
}

.intro {
  margin-top: -1rem;
  font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
  line-height: 1.4;
  font-size: 3.4rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.1px;
  text-shadow: .01rem .01rem #000;
}

.intro h1 {
  display: inline;
  font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.1px;
}

.more {
  display: inline-block;
  margin-top: 3rem;
  width: 16rem;
  height: 4.6rem;
  line-height: 4.7rem;
  background-color: #2489f1;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0;
  opacity: 0;
  visibility: hidden;
}

.more.isvisible {
  opacity: 1;
  visibility: visible;
}

.more:hover {
  background-color: #127ff0;
}

section {
  transition: all .5s ease-in;
}

.more {
  transition: all .3s ease-in, background-color .2s ease-in-out;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Social nav                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#social {
  width: 100%;
  height: 6.5rem;
  text-align: left;
  overflow: hidden;
}

#social ul {
  margin-top: 0rem;
  list-style: none;
  text-align: center;
}

#social ul li {
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 5rem;
  text-align: center;
  overflow: hidden;
}

#social ul li + li {
  margin-left: 2rem;
}

#social ul li a {
  display: inline-block;
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 2rem;
  color: #fff;
  text-shadow: .01rem .01rem #000;
  background-color: rgba(255, 255, 255, .15);
  border: .1rem solid rgba(255, 255, 255, .06);
  border-radius: 5rem;
}

#social ul li a i {
  font-size: 2rem;
}

#social ul li a i.fa-linkedin {
  line-height: 4.35rem;
}

#social ul li a i.fa-dribbble {
  font-size: 2.15rem;
  line-height: 4.35rem;
}

#social ul li a i.fa-twitter {
  line-height: 4.4rem;
}

#social ul li a i.fa-github {
  font-size: 2.3rem;
  line-height: 4.4rem;
}

#social ul li a:hover {
  border: .1rem solid rgba(255, 255, 255, .25);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Extras                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

li, a, i, img, span, input, #overlay {
  -webkit-tap-highlight-color: transparent;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
  .intro { padding: 0 5%; }

  #social ul li a i { font-size: 2.2rem; }

  #login-frame, #contact-frame {
    width: min(100% - 60px);
  }

  #email, #subject, #message, #password  { margin-top: .8rem; }

  .intro, .intro h1 { font-size: 3rem; }
  .more { margin-top: 3.2rem; }
  #alert-message::before { content: 'Message sent successfully'; }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  #social ul li a i { font-size: 2.1rem; }
  .intro, .intro h1 { font-size: 2.8rem; }
  .more { margin-top: 3.2rem; }
}

@media screen and (min-width: 640px) and (max-width: 799px) {
  #social ul li a i { font-size: 2.1rem; }
}

@media screen and (min-width: 800px)  and (max-width: 1439px){
  .column { margin-left: 3%; }
  .column:first-child { margin-left: 0; }
  .twelve.column { width: 100%; margin-left: 0; }
}

@media screen and (min-width: 1440px) {
  .intro, .intro h1 { font-size: 3.4rem; }
}
